<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>team-identifier</key>
  <string>2BUA8C4S2C</string>
  <key>signing-identifier</key>
  <string>libop_sdk_ipc_client</string>
  <key>validation-category</key>
  <integer>6</integer>
</dict>
</plist>
